bbox_visualizer>=0.1.0
deepface>=0.0.75
Flask>=2.1.1
Flask_SocketIO>=5.2.0
gevent_socketio>=0.3.6
keras>=2.9.0
numpy>=1.17.4
opencv_python>=4.6.0.66
pandas>=1.4.2
tensorflow>=2.9.1
tensorflow_addons>=0.17.1
tqdm>=4.64.0
